<div class="aboutContainer">
  <div class="aboutTitle">
    <h1 class="title">About Us</h1>
    <p class="para">We are the creators of Hostelers. A online hostel finding web application to find hostel at
      ease.</p>
  </div>
  <div class="aboutCreators">
    <div class="creator">
      <div class="creator_img">
        <%= image_tag "rimi.png" %>
      </div>
      <div class="creator_details">
        <h3>Rimi Ghosh</h3>
        <p>rimi@gmail.com</p>
        <p>Roll: 9314</p>
      </div>
    </div>
    <div class="creator">
      <div class="creator_img">
        <%= image_tag "shrey.png" %>
      </div>
      <div class="creator_details">
        <h3>Shreayshi Biswas</h3>
        <p>rimi@gmail.com</p>
        <p>Roll: 9314</p>
      </div>
    </div>
    <div class="creator">
      <div class="creator_img">
        <%= image_tag "jatin.png" %>
      </div>
      <div class="creator_details">
        <h3>Jatin Morwal</h3>
        <p>rimi@gmail.com</p>
        <p>Roll: 9314</p>
      </div>
    </div>

  </div>
  <div class="aboutMotive aboutTitle">
    <h1 class="title">Our Motivation</h1>

    <p class="para">
      Explore an array of hostels effortlessly with our intuitive hostel finding site. Locate hostels based on your
      preferences – from budget-friendly dorms to cozy private rooms. Easily filter and search by location,name to find
      the perfect fit for your travels. Access special deals and secure booking options. Our site simplifies the process
      of discovering hostels for your journey. Begin your next adventure now!
    </p>
  </div>
</div>