<%# if @result %>
<%#= @found_hostel.inspect %>
<!--  <h1 class="h1 text-center mb-5">Search results</h1>-->
  <%#= render "hostels/hostel", para: @found_hostel %>
<%# else %>
<!--  <h1>No hostel found</h1>-->
<%# end %>+

<%= @params_downcase %>
<%= @params_opt %>
<%= @found_hostel.inspect %>
