@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Myfont";
    src: url("https://github.com/freakflames29/hostel/blob/style_nav/font.woff2");
}

:root {
    --base_text_color: #000;
    --light_blue: #00C4FF;
    --dark_blue: #30A2FF;
    --bold_font: 'Oswald';
}

a {
    text-decoration: none;
}

.nav_container {
    min-width: 100%;
    /*background-color: red;*/
    height: 12vh;
    display: flex;
    padding-left: 5%;

}

.logo_side {
    min-width: 50%;
    /*background-color: blue;*/
    padding-left: 4%;
    margin-top: 20px;
}

.element_side {
    /*background-color: yellow;*/
    min-width: 50%;
    padding-left: 20px;
    margin-top: 20px;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;

}

.logo_box img {
    cursor: pointer;
}

.element_box {
    display: flex;
    min-width: 80%;
    justify-content: space-around;
    align-items: center;
}

.nav_links {
    color: var(--base_text_color);
    text-decoration: none;
    cursor: pointer;
}

/*.btn {*/
/*    padding: 15px 35px;*/
/*    border: 2px solid #30A2FF;*/
/*    border-radius: 6px;*/
/*    font-size: 16px;*/
/*    background-color: var(--light_blue);*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    width: 20%;*/
/*    text-align: center;*/
/*    background-image: linear-gradient(to right, #00C4FF 0%, #30A2FF  51%, #00C4FF  100%);*/
/*}*/
/*.btn:hover{*/
/*    background-position: right center;*/
/*}*/
.btn {
    background-image: linear-gradient(to right, #00C4FF 0%, #30A2FF 51%, #00C4FF 100%);
    /*margin: 10px;*/
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: block;
    border: none;
    width: 20%;
    font-size: 15px;
}

.redbtn {
    background: linear-gradient(to bottom left, #cc000b 47%, #fc1e49 100%);
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.hero_container {
    /*background-color: red;*/
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /*margin: 10px;*/
    min-width: 100%;
    overflow: hidden;
    padding-right: 5%;
}

.hero_left {
    min-width: 55%;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 10%;

    font-weight: 400;


}

.hero_left h1 {
    font-family: var(--bold_font), sans-serif;
    font-weight: 900;
    /*text-transform: uppercase;*/

}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 2em;
    margin-bottom: 1.5rem;
    background: #00C4FF;
    background: linear-gradient(to bottom left, #00C4FF 47%, #30A2FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-align: center;*/

}

.mb-3 {
    margin-bottom: 2.5%;

}

.div-center {
    display: flex;

    justify-content: center;
}

.title-2 h1 {
    font-size: 4.5rem;
}

.hero_left p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.hero_right {
    min-width: 45%;
    padding-top: 54px;
}

.hero_right img {
    width: 100%;
}

.search_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.search_form {
    width: 100%;
    display: flex;
    /*background-color: red;*/
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.search {
    min-width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
}

.form-control {
    min-width: 50%;
    border-radius: 0 24px 24px 0;
    padding: 20px 10px;
    font-size: 1.5rem;
    margin-right: 10px;
    outline: none;
    border: 5px solid var(--dark_blue);
    border-left: none;
    height: 80px;
}

.form-select {
    padding: 20px 19px;
    font-size: 1.5rem;
    border-radius: 24px 0 0 24px;
    border: 5px solid var(--dark_blue);
    border-right: none;
    outline: none;
    color: var(--dark_blue);

}

.search-btn {
    margin-left: -8%;
    width: 8%;
    background: none;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    height: 80px;

}

.hostels_container {
    margin-top: 10px;
}

.hostels_store {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    overflow: hidden;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;

}

.card_container {
    width: 30%;
    /*padding: 20px;*/
    /*background-color: #c2c2c2;*/
    height: 30%;
    box-shadow: 0 13px 20px -6px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 20px 20px;
    margin-bottom: 3%;
    /*border: 1px solid black;*/
    border-top: 0;

}

.card_container .img {
    overflow: hidden;
    width: 100%;
    height: 30%;
}

.card_container .details {
    height: 30%;
    padding: 20px;
    /*border-bottom: 1px solid gray;*/
}

.card_container .feature {
    height: 20%;
    padding: 20px;
    /*border-bottom: 1px solid gray;*/
    display: flex;
    padding-top: 5px;
    /*justify-content: space-around;*/
}

.card_container .user {
    height: 20%;
    padding: 20px;
    /*border-bottom: 1px solid gray;*/
}

.card-img-top {
    width: 100%;
    /*background-size: cover;*/
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.slowtext {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: grey;
    margin-bottom: 4px;
}

.card_container .details h2 {
    color: var(--dark_blue);
    font-weight: 100;
    font-size: 2.5em;
    margin-bottom: 4px;
}

.card_container .feature p {
    font-size: 1em;
}

.user_info {
    width: 100%;
    display: flex;
    margin-top: 10px;
    font-size: 1.5em;
}

.user_info span a {
    margin-left: 15px;
    color: var(--dark_blue);
}

.cardbtn {
    margin-top: 20px;
    width: 100%;
}

.cardbtn .btn {
    width: 100%;
}

.search_result {
    text-align: center;
}

.title-red {
    background: linear-gradient(to bottom left, #cc000b 47%, #fc1e49 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.serach_title {
    text-align: center;
}

.showboxContainer {
    /*margin: 10px;*/
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    margin-bottom: 30px;
}

.showbox {
    width: 100%;
    /*background: #999999;*/
    height: 90vh;
    display: flex;
    /*margin: auto;*/
    padding-left: 5%;
    /*justify-content: center;*/
    margin-left: 6%;
}

.hostel_info_box {
    width: 60%;
    height: 100%;
    padding-top: 20px;

    /*background: #00C4FF;*/
}

.genralbox {
    /*background: red;*/
    width: 40%;
}

.show_img {
    height: 450px;
}

.hostel_desc {
    padding-left: 20px;
    box-shadow: 0 13px 20px -6px rgba(0, 0, 0, 0.25);


}

.hostel_desc h1 {
    margin-top: 10px;

}

.colorful {
    color: var(--dark_blue);
}

.mar3 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.light {
    font-weight: 100;
}

.list_el {
    padding: 20px;
    width: 100%;
    /*background: #e6f6ff;*/
    margin-top: 10px;
    border-bottom: 2px solid #e8e8e8;
}

.list_p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.genralbox {
    padding-top: 20px;
    padding-left: 3%;
    /*background: #999999;*/
}

.pricingbox {
    width: 40%;
    /*background: #BBBBBB;*/
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid #dcdcdc;
    border-radius: 20px;
    box-shadow: 0 13px 20px -6px rgba(0, 0, 0, 0.25);

}

.pricingbox .btn {
    width: 100%;
    margin-bottom: 10px;
}

.userbox {
    padding-top: 20px;
    width: 40%;
}

.userbox_content {
    width: 100%;
    /*background: #BBBBBB;*/
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid #dcdcdc;
    border-radius: 20px;
    box-shadow: 0 13px 20px -6px rgba(0, 0, 0, 0.25);
    justify-content: center;
}

.avatar {
    width: 50%;

}

.user_avatar {
    display: flex;
    justify-content: center;
}

.user_info_show {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.smallgrey {
    font-size: 15px;
    color: #575757;
}

.badge {
    margin-top: 11px;
    border-top: 1px solid #dcdcdc;
    padding-top: 11px;
}

.full_width {
    margin-top: 10px;
    width: 100%;
}

.showTitle {
    font-size: 3.5em;
}

.user_container {
    width: 100%;

}

.sign_login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    width: 50%;
    margin: auto;
}

.sign_log_field {
    padding: 15px 20px;
    font-size: 1.5rem;
    border-radius: 20px;
    border: 2px solid var(--light_blue);
    outline: none;
    margin-top: 10px;
}

.sign_log_field:focus {
    border: 4px solid var(--dark_blue);

}

.flabel {
    font-size: 1.5rem;
    margin-top: 10px;
}

.radio_box {
    margin-top: 10px;
}

.error_box {
    width: 40%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.38);
    border-radius: 10px;
}

.alert {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: rgba(250, 204, 74, 0.38);

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.crossbtn {
    outline: none;
    background: none;
    border: none;
    font-size: 1.4rem;

}

.userprofile_container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 3%;
}

.userprofile {
    width: 30%;
    /*background: red;*/
    height: 300px;
    border-radius: 20px;
    /*border: 2px solid #dcdcdc;*/
    border: 2px solid var(--dark_blue);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.userImage {
    width: 40%;
}

.user_profile_avatar {
    width: 100%;
    margin-top: -50%;
}

.information {
    text-align: center;
}

.badge_owner {
    color: var(--dark_blue);
    padding: 5px 6px;
    border: 1px solid var(--dark_blue);
    border-radius: 24px;
    font-size: 11px;
}
#longbtn{
    width: 26%;
}