<div class="chatBoxContainer hideMe" id="chatBoxContainer">
  <div class="chatBox">
    <h2>Chat for help !</h2>
    <div id="chatarea">
      <div class="chatBubble"><p class="text-primary d-block p-2"> <i class="fa-solid fa-robot" style="color: #000000;"></i> Bot: Hi ! How can i help you ?</p></div>
    </div>
    <div class="chatInput">
      <input type="text" placeholder="Hit enter to send" id="msgBox"/>
<!--      <button class="btn sendBtn"><i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i></button>-->
    </div>
  </div>
</div>