<div class="chatBoxContainer">
  <div class="chatBox">
    <h2>Chat for help !</h2>
    <div id="chatarea">You:Hi</div>
    <div class="chatInput">
      <input type="text" placeholder="Hit enter to send" id="msgBox"/>
<!--      <button class="btn sendBtn"><i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i></button>-->
    </div>
  </div>
</div>