<% flash.each do |name,msg| %>
<!--  <h4><%#= msg %></h4>-->


<div class="alert " role="alert" >

  <h3 class="light"><%= msg %></h3>
<!--  <button class="crossbtn" id="crossbtn"><i class="fa-solid fa-circle-xmark" style="color: #000;"></i>Close</button>-->
</div>

<% end %>