<section class="">
  <!-- Footer -->
  <footer class="text-center text-white" style="background-color: #2b3035;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Need Help ?</span>
          <!-- Button trigger modal -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-outline-light btn-rounded" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Chat now
          </button>

          <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Chat Box</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <div id="chat" class="d-flex align-items-start flex-column"><p class="text-success d-block p-2"><strong>Bot: Hi! How can i help you ?</strong></p></div>
                <input type="text" class="form-control" placeholder="Enter your query here and hit enter to send..." id="msgBox">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
<!--                <button type="button" class="btn btn-primary">Understood</button>-->
              </div>
            </div>
          </div>
        </div>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p> <b><span class="text-warning">Hostelers </span> -- A hostel finding web application</b></p>
      <p>Created by : Shreyashi Biswas, Rimi Ghosh , Jatin Morwal</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>