<div class="footer_container">
  <div class="footer">

    <h1><%=link_to "Hostelers",root_path %></h1>
<!--    <span>About</span>-->
    <%=link_to "About Us",about_path %>
    <br><br>
    Copyright © 2023--Hostelers

  </div>
</div>

